numpy~=1.24.2
torch==2.4.0
torchvision==0.19.0
opencv-python-headless~=4.10.0.84
scipy~=1.9.0
pillow~=9.2.0
matplotlib~=3.5.1

ffmpeg~=1.4
gdown~=4.5.1
fvcore~=0.1.5.post20221122
tabulate~=0.9.0
tqdm~=4.64.1
pyyaml~=6.0
scikit-image~=0.21.0
imageio~=2.31.3
imageio-ffmpeg
#joblib~=1.1.0
cython~=0.29.32
#munkres~=1.1.4
#plotly~=5.11.0
#pandas~=1.4.3
scikit-learn~=1.1.2
setuptools~=65.6.3
pyqt5~=5.15.11
trimesh
PyOpenGL==3.1.5
PyOpenGL_accelerate==3.1.6
PyGLM
av

#detectron2@git+https://github.com/facebookresearch/detectron2.git
